.header {
  flex: 0 0 50px;
  :global {
    .iconfont {
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      border-radius: 50%;
      color: #4a4a4a;
      margin-right: 14px;
      &:hover {
        background: #eaeaea;
      }
    }
    .icon-search {
      margin: 0;
      font-size: 14px;
    }
  }
  display: flex;
  .left {
    display: flex;
    flex: 0 0 200px;
    justify-content: flex-end;
    align-items: center;
    background: #f6f6f6;
  }
  .right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    background: #f9f9f9;
  }
}