.song-list {
  .list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    .item {
      flex: 0 0 calc(20% - 14.4px);
      list-style: none;
      overflow: hidden;
      margin: 0 18px 44px 0;
      font-size: 13px;
    }
    .recommend {
      .cover::after {
        content: '根据您的音乐口味生成每日更新';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 8px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        font-size: 12px;
        line-height: 1.2;
        display: none;
      }
      &:hover {
        .cover::after {
          display: block;
        }
      }
    }
    .item:nth-child(5n) {
      margin-right: 0;
    }
  }
  .cover {
    border-radius: 4px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    &-img {
      width: 100%;
    }
    &-play-btn {
      position: absolute;
      bottom: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.8);
      display: none;
      line-height: 30px;
      text-align: center;
      border: none;
      padding: 0;
    }
    .icon {
      margin-left: 2px;
      color: #c3463a;
      font-size: 14px;
    }
    &:hover {
      .cover-play-btn {
        display: block;
      }
    }
  }
}
